# =============================================================================
# MB SNOWFLAKE DEVOPS DEMO
# Python Dependencies
# =============================================================================

# Snowflake Connector
snowflake-connector-python>=3.6.0

# SQL Linting
sqlfluff>=2.3.0
sqlfluff-templater-jinja>=2.3.0

# Utilities
PyYAML>=6.0.1
python-dotenv>=1.0.0

